@font-face {
	font-family: "Pragmatica";
  src: url("../fonts/pragmatica/Pragmatica_MediumC_Reg.otf");
  src: local('☺'), 
  url("../fonts/pragmatica/Pragmatica_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Pragmatica', arial;
	font-weight: 300;
    color: #666;
    background-color:#372202;
    
}
h1, h1, h3, h4, h5, h6 {
    margin: 0px;
    text-transform: uppercase;
    font-family: 'Pragmatica', arial;
    font-weight: 700;
    letter-spacing: 1px;
}
h1 {
	color: #FFC600;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	text-transform: none;
	font-weight: normal;
}
h2 {
	color: #FFF;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	text-transform: none;
	font-weight: normal;
}

p {
    margin: 0px;
    font-size: 14px;
    line-height: 1.1em;
}
a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover, a:focus, a:link {
    text-decoration: none;
    color: #176e61;
}

/* LOADER */
#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}


#loaderInner {
    background:#ffffff url(../img/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;
}

@keyframes boxSpin{
  0%{
    transform: translate(-10px, 0px);
  }
  25%{
    transform: translate(10px, 10px);
  }
  50%{
    transform: translate(10px, -10px);
  }
  75%{
    transform: translate(-10px, -10px);
  }
  100%{
    transform: translate(-10px, 10px);
  }
}


@keyframes shadowSpin{
  0%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25%{
    box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50%{
    box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75%{
    box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

#load {
	z-index: 9999;
  background-color: #FF4136;
  opacity: 0.75;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin: -5px auto 0 auto;
  left: 0;
  right: 0;
  border-radius: 0px;
  border: 5px solid #FF4136;
  box-shadow: 10px 0px #39CCCC, 10px 0px #01FF70;
  animation: shadowSpin 1s ease-in-out infinite;
}

section h1 {text-align:center;}
section h2 {text-align:center;}

.page-scroll {
	position:relative;
	top:22px;
	margin-top:-22px;
	text-align: center;
}

.page-scroll a.btn-circle {
		width: 40px;
		height: 40px;
		margin-top: 10px;
		padding: 0px;
		border: 2px solid #FFC600;
		border-radius: 50%;
		font-size: 20px;
		background: #FFC600;
		color:#FFF;
}
.page-scroll .btn-circle i {
	font-size:40px;
}
.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.btn-confirm{
	text-transform:none;
	font-size:19px;
	color:#010101;
	border: 1px solid #E19A29;
	width:100%;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbd36c+0,e19a29+100 */
	background: #fbd36c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZDM2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMTlhMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fbd36c 0%, #e19a29 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbd36c), color-stop(100%,#e19a29)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbd36c 0%,#e19a29 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbd36c 0%,#e19a29 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbd36c 0%,#e19a29 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbd36c 0%,#e19a29 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd36c', endColorstr='#e19a29',GradientType=0 ); /* IE6-8 */
}
.sprite{position: fixed;background-position: 50% 0%;background-size: 100%;background-repeat: no-repeat;z-index:1;}
form {text-align:center}

a.carousel-control {color:#FFC600;}
a.carousel-control:hover,a.carousel-control:link,a.carousel-control:active {color:#FFC600;}
.carousel-control {
	position: absolute;
	top: 50%;
	width: 40px;
    height: 40px;
    font-size: 40px;
    font-weight: 100;
    line-height: 28px;
    color:  #FFC600;
    text-align: center;
    background: none;
    border: 3px solid  #FFC600;
    border-radius: 50%;    
}	
.carousel-control.left {
	left:5%;
	padding-right:2px;
}
.carousel-control.right {
	right:5%;
	padding-left: 2px;
}



	.navbar {
		border-bottom: 1px solid rgba(255,255,255,.3);	
	    padding: 0px;
	    letter-spacing: 1px;
	    background-color:rgba(243,233,210,0.8);
	    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	    transition: background .5s ease-in-out,padding .5s ease-in-out;
	}
	.navbar-nav > li {
		cursor:pointer;
		color:#331f06;
		font-weight: normal;	
	
		webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	.navbar-nav > li > a {color:#331f06;}
	/* ===========================
		--- Intro
	============================ */
	#intro form {
		border:8px solid #ffc600;
		border-radius:4px;
		margin:0 auto;
		background:rgba(51,31,6,0.8);
		box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	}
	#intro form .title {
		color:#FFF;
		text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	}
	#intro form .subtitle {
		color:#ffc600;
		text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
		text-transform:uppercase;
	}
	/* ===========================
		--- Result
	============================ */
	#result h2 span {color: #FFC600;}
	#result form {margin:0 auto}
	#result ul {
	    list-style-image: url('../images/symbol.png'); /* Путь к изображению маркера */
	    padding: 20px;
	}
	
	#result ul li {
		margin-left:45px;
		color:#FFF;
		text-align: left;
	}
	#result ul li span{
		position: relative;
		top: -10px;
	}
	/* ===========================
		--- Component
	============================ */
	.mobile svg {
		margin: 0 auto;
		width: 100%;
		height: auto;
	}
	#component form {
		background:#FFF;
		border:8px solid #ffc600;
		border-radius:4px;
		margin:0 auto;
		box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	}
	#component #InputName, #component #InputPhone {background:#fff7e6!important;border:1px solid #ffe9c4;}
	/* ===========================
	--- Program
	============================ */
	#program form {
		background:url('../images/border_long.png'); 
		background-repeat:no-repeat; 
		box-shadow: none;
		border:none;
		max-width:865px;
		margin:-15px auto;
		padding-top:36px;
	} 
	#program form .form-group ol {list-style: none;counter-reset: point;}
	#program form .form-group ol li {text-align: left;color:#FFF;position:relative;}
	#program form .form-group ol li:before{content: counter(point); counter-increment: point 1; color:#ffc600;}
	#program form .form-group ol li span {position: relative;top:-6px; left:10px;}
	#program form .form-group .slip {margin-left:20px;}
	#program .advert {color:#FFF;}
	#program .advert span{color:#ffc600;}
	
	/* ===========================
	--- Testimonials
	============================ */
	#testimonial .box-wht {
		background: #FFF; 
	}

	#testimonial.box-wht .title {
		color:#000;
		text-align: left;
	}
	
	#testimonial.box-wht .pull-left {
    	margin-right:10px;
	}
	#testimonial form {margin: 0px auto;}
	
	#testimonial h2 {width:100%; color:#FFF;text-transform: none;font-weight: normal;}
	#testimonial h2 span {color:#ffc600;}

	/* ===========================
	--- Contact
	============================ */
	#contact form{
		border:8px solid #ffc600;
		border-radius:4px;
		background:rgba(51,31,6,0.8);
		box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
		margin:0 auto;
	}
	#contact h1 {
		color: #FFC600;
		font-weight:normal;
		text-transform: none;
		margin:0;
	}
	#contact h2 {
		color: #FFF;
		font-size: 18px;
		font-weight:normal;
		text-transform: none;
		margin:0;
	}
	#contact .subtitle {
		color:#FFF;
	}
	.line {width:50%;height:2px; background: #ffc600;}
	.map {margin:0 auto;}
		.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-nav > li > a:active, .navbar-nav > li > a:link{
		    background-color: rgba(255,255,255,0);
		    border:none;
		} 
		
@media(min-width:992px) {
	.navbar {
	    height:93px;
	}
	.container {
		max-width:1000px;
	}
	.navbar-brand {
		width:100%;
		margin: 0;
		padding: 0;
		margin-left: 0px !important;
		margin-top: 0px !important;
	}
	
	.navbar-nav {
		margin-top:30px;
	}
	.nav > li > a {padding:10px 0px;}
	.navbar-nav > li > a {
			min-width:95px;
	}
	.navbar-nav > li.animation-btn > a {
			min-width:110px;
	}
	
	/* NAV */
.navbar .container {padding:0;max-width: 1000px;height:93px;}
.navbar .container .navbar-header .navbar-brand{padding:0;height:91px;margin-left:0px;}
.navbar .container .navbar-collapse {}
.navbar .container .topline{
	height: 2px;
	width: 85%;
	background: #55432A;
	//margin: 36px auto 0px;
	margin:0 auto;
	position:relative;
	top:36px;
}
.navbar .container .navbar-nav {
	margin:52px auto 0px;
}
.navbar-nav > li {
	cursor:pointer;
	color:#331f06;
	font-weight: normal;
	text-align:center;
	webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.navbar-nav > li .round-btn{
	border: 3px solid #000;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background:#ffe27c;
	margin: -27px auto 0px;
}
.navbar-nav > li .round-btn .inside-btn {
	width: 10px;
	height: 10px;
	background: none;
	margin: 0px auto;
	border-radius: 50%;
	margin-top: 2px;
}
.navbar-custom .nav li a:hover .round-btn .inside-btn,
.navbar-custom .nav li a:focus .round-btn .inside-btn,
.navbar-custom .nav li.active .round-btn .inside-btn{
    background: #000;
}
.navbar-custom .nav li.active {
	font-weight:bold;
}
.navbar .navbar-footer {
	float: right;
	text-align: right;
	font-size: 13px;
	padding-top: 20px;
	font-weight:normal;
	width:17%;

}
.visited-btn{
	background-image:url('../images/galka.png');
	width:26px;
	height:26px;
	margin-top: -7px;
	margin-left: -5px;
	visibility:hidden;
	display:none;
}
.navbar-custom .nav li.visited .visited-btn {
	visibility: visible;
	display: block;
}

	/* ===========================
		--- Intro
	============================ */
	#intro .heading {padding-top:160px;}
	#intro h1 {
    	font-size: 30px;
	}
	#intro h2 {
 	   font-size: 28px;
	}
	#intro form {max-width:480px;padding-top:36px;}
	#intro form .input {
		padding: 0 90px;
	}
	#intro form .title {
		font-size:21px;
	}
	#intro form .subtitle {
		font-size:23px;
	}
	/* ===========================
		--- Result
	============================ */
	#result .heading {padding-top:120px;}
	#result h1 {
    	font-size: 30px;
    	padding-top:10px;
	}
	#result h2 {
 	   font-size: 19px;
	}
	
	#result ul {
		margin-left:60px;
		list-style-image: url('../images/symbol.png'); /* Путь к изображению маркера */
		padding: 20px;
	}
	#result ul li {
		margin-left:45px;
		text-align: left;
		font-size:16px;
	}
	#result ul li span{
		position: relative;
		top: -10px;
	}
	#result form {
		background:url('../images/border.png'); 
		background-repeat:no-repeat; 
		box-shadow: none;
		border:none;
		padding-bottom:20px;
		padding-top:20px;
		max-width: 590px;
		min-height: 250px;
		margin:-26px auto;
	}
	#result form .input {
		padding: 0 135px;
		margin-top: -40px;
	}	
	/* ===========================
		--- Component
	============================ */
	#component .heading {padding-top:120px;}
	/* ===========================
	--- Program
	============================ */
	#program h1 {font-size:30px;}
	#program .heading {padding-top:120px;}
	#program h2 (font-size:28px;)
	#program form {
		background:url('../images/border_long.png'); 
		background-repeat:no-repeat; 
		box-shadow: none;
		border:none;
		max-width:865px;
		margin:-15px auto;
		padding-top:36px;
	} 
	#program form .form-group ol li {
		font-size:16px;
	}
	#program form .form-group ol li::before { 	
		font-size: 30px;	
    }
    #program form .input {
    	padding: 0px 260px;
    }
    #program .advert {color:#FFF;font-size:20px;margin-top:20px;padding-bottom:20px;padding-top:20px;}
	
	/* ===========================
	--- Testimonials
	============================ */
	#testimonial .heading {padding-top:160px;}
	#testimonial h1 {font-size:30px;}
	#testimonial h2 {font-size:19px;}
	#testimonial form {background:url('../images/border_medium.png'); background-repeat:no-repeat; box-shadow: none; border:none;max-width:724px;margin:0 auto;}
	#testimonial form .input {padding:0px 195px;padding-top:26px;margin-top:-22px;}
	.form5 {margin:0;padding:0;}
	.form-wrap {margin:0;padding:0;}
	#contact h1 {font-size:30px;}


	#component h1 {font-size:30px;}
	#component h2 (font-size:19px;)
	#component .form {
		max-width:350px;
		padding-top:36px;
	}
	#component form .input {padding: 0 45px;}
	
	
    #testimonial .rightBlock1, #testimonial .rightBlock2 {
	    margin-left:10px;
    }
    #testimonial .o-wrap {margin-top:10px;}
    #testimonial .box-wht {width:49%;}

    /* ===========================
	--- Contact
	============================ */
	#contact .heading {padding-top:160px;}
	#contact .form{
		max-width:480px;
		padding-top:36px;
		margin:0 auto;
	}
	#contact .form .input {
		padding: 0 90px;
	}
	#contact .subtitle {
		font-size:18px;
	}
    .map {margin-top:0px;}
    .line {margin:10px auto;}
    .mobile {visibility: hidden;display:none;}
    .workstation{
	    visibility:visible;
	    display:block;
	}
	#svg-main {margin-top:-39%;}
    .fill {height:632px;}
    .slide0 .fill {background-image:url('../images/girl.png')!important;}
	.slide1 .fill {background-image:url('../images/hohlomabg.png')!important;}
	.slide2 .fill {background-image:url('../images/hohlomabg.png')!important;}
	.slide3 .fill {background-image:url('../images/girl2.png')!important;}
	.slide4 .fill {background-image:url('../images/otzivi.png')!important;}
	.slide5 .fill {background-image:url('../images/girl3.png')!important;}
	#result form {
    	background: transparent url("../images/border.png") no-repeat !important; 
    }
    .form-wrapper {position:relative;z-index:1;}
    #component form {
	    max-width:350px;
	    margin:0 auto;
	    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	    padding-top:36px;
	}
}
@media(min-width:768px) and 
      (max-width:991px) {
	.container {width:100%;}
	.navbar {
	    height:93px;
	}
	.navbar-brand {
		height:93px;
	}
	.navbar-header .logo {margin-top:-20px;}
	.navbar-footer {
		font-size:12px;
		float:right;
		padding-top:20px;
		text-align:right;
		position: absolute;
		right: 10px;
		font-size: 12px;
		top: 6px;
		text-align: right;
	}
	.navbar-nav {
		margin-top:50px;
		margin-left:-30px;
	}
	.nav > li > a {
		padding: 10px 7px;
		font-size: 14px;
	}
	.navbar .container .topline{
		height: 2px;
		width: 90%;
		background: #55432A;
		//margin: 36px auto 0px;
		margin:0 auto;
		position:relative;
		top:36px;
		left:-26px;	
	}
	#intro  form {max-width:60%!important;}
	#result form {max-width:60%!important;}
	#component form {max-width:60%!important;}
	#component form .input {padding:0 40px;}
	#component .form-wrapper {
 	   margin-top:-60px;
	}
	#program form {max-width:50%!important; margin:0 auto;}
	#testimonial form {max-width:60%!important;}
	#testimonial .box-wht {padding-bottom:70px!important;}
	#contact form {max-width:60%!important;}
	#contact form .input {padding:0 40px;}
	#contact .subtitle {font-size:22px;}
	ymaps {margin:0 auto;}
	.map {margin:0 auto;margin-top:10px;}
	.heading{padding-top:100px;}
	.line {margin:20px auto;}
	form {padding-top:36px;}
	#program form {background:none;}
	#program form .form-group ol li::before {font-size:35px;}
	#program .advert {
 	   font-size: 19px;
 	   padding: 10px;
	}
	.box-wht {margin-bottom:10px;padding-bottom:40px;}
	.carousel-control {top:50%;}
	.mobile {padding-top:20px;}
	.mobile svg {
		margin: 0 auto;
		max-width: 100%;
		height: auto;
	}
	.workstation {
		visibility:hidden;
		display:none;
	}
	#intro form {max-width:480px;padding-top:36px;}
	#intro form .input {
		padding: 0 90px;
	}
	#intro form .title {
		font-size:21px;
	}
	#intro form .subtitle {
		font-size:23px;
	}
	.navbar-nav > li .round-btn{
	border: 3px solid #000;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background:#ffe27c;
	margin: -27px auto 0px;
}
.navbar-nav > li .round-btn .inside-btn {
	width: 10px;
	height: 10px;
	background: none;
	margin: 0px auto;
	border-radius: 50%;
	margin-top: 2px;
}
.navbar-custom .nav li a:hover .round-btn .inside-btn,
.navbar-custom .nav li a:focus .round-btn .inside-btn,
.navbar-custom .nav li.active .round-btn .inside-btn{
    background: #000;
}
.navbar-custom .nav li.active {
	font-weight:bold;
}

.visited-btn{
	background-image:url('../images/galka.png');
	width:26px;
	height:26px;
	margin-top: -7px;
	margin-left: -5px;
	visibility:hidden;
	display:none;
}
.navbar-custom .nav li.visited .visited-btn {
	visibility: visible;
	display: block;
}
.carousel-control {position:fixed;}
}	
@media(min-width:560px) and 
	(max-width:767px) {
	#intro form {
		margin:0 5%;
	}
	#result form {
		margin:0 5%;
	}
	#component form {
		margin:0 10%;
	}
	#program form {
		margin:0 10%;
	}
	#program form .form-group ol li {
		font-size:14px!important;
	}
	#testimonial .box-wht .pull-left {
		margin-top:-28px!important;
	}
	#contact form {
		margin:0 10%;
	}
	#program form {background:none;}
	.navbar-nav > li {
			border-bottom:1px solid #55432A;
	}
	.carousel-control {position:fixed;}
}	
@media(min-width:480px) and (max-width:767px){
	.navbar-brand {margin-top: -35px;}
	.navbar-footer {
		display: block;
		position: fixed;
		top: 2px;
		right: 50px;
		font-size: 12px;
		text-align: right;
	}
	.heading {padding-top:80px;}
	/* ===========================
		--- Intro
	============================ */
	#intro form {
		max-width:100%;
		padding-top:20px;
	}
	#intro form .title {
		font-size:21px;
	}
	#intro form .subtitle {
		font-size:20px;
	}
	#intro form .input {
		padding: 0 20px;
	}
	#intro h1 {font-size:22px;}
	#intro h2 {font-size:20px;}
	/* ===========================
		--- Result
	============================ */
	#result h1 {margin-top:20px;font-size:22px;}
	#result h2 {font-size:20px;}
	#result form {
		max-width:100%;
		padding-top:20px;
	}
	#result ul li {
		font-size:14px;
	}
	
	/* ===========================
		--- Component
	============================ */
	.mobile {padding-top:20px;}
	.mobile svg {
		margin: 0 auto;
		max-width: 100%;
		height: auto;
	}
	.workstation {
		visibility:hidden;
		display:none;
	}
	#component h1 {font-size:22px;}
	#component h2 {font-size:20px;}
	#component form {
		max-width:80%;
		padding-top:20px;
	}
	#component .form-wrapper {margin-top:-50px;}
	#component form .input {padding: 0 20px;}
	
	/* ===========================
	--- Program
	============================ */
	#program h1 {font-size:22px;}
	#program form .form-group ol {margin-top:20px;}
	#program form .form-group ol li {font-size:12px;margin-bottom: -10px;}
	#program form .form-group ol li:before{font-size:30px;}
	#program form .form-group ol li span {position: relative;top:-6px; left:10px;}
	#program form .form-group .slip {margin-left:20px;}
	#program .advert {font-size:16px;padding-top:20px;}
	#program .advert span{color:#ffc600;}
	#program form .input {margin-top:20px;padding: 0px 20px;}
	#program form {background:none;}
	/* ===========================
	--- Testimonials
	============================ */
	#testimonial h1 {padding-bottom:20px;font-size:22px;}
	#testimonial .box-wht {
		padding-bottom: 10px;
		margin-bottom:10px;
	}

	#testimonial .box-wht .title {
		font-size:15px;
		margin-left: 120px;
		padding-top: 10px;
	}
	#testimonial .box-wht p {margin:10px;margin-left:120px;font-size:12px;}
	#testimonial .box-wht .pull-left {
		margin-top: -20px;
		margin-right: 10px;
	}
	#testimonial form .input {padding:0 20px;}
	#testimonial h2 {font-size:16px;}
	
	/* ===========================
	--- Contact
	============================ */
	#contact form{
		max-width:100%;
		padding-top:20px;
		
	}
	#contact form .input {
		padding: 0 20px;
	}
	
	#contact h1 {
		font-size:22px;
	}
	#contact h2 {
		font-size: 20px;
	}
	#contact .subtitle {
		font-size:18px;
	}
	.line {margin: 10px auto;}
	.map {width:458px;height:408px;margin-top:20px;}
	.carousel-control {position:fixed;top:30%;}
}
@media(max-width:479px) {
	.navbar {
	    height:60px;
	}
	.navbar-brand{
		width: 60%;
		position: absolute;
		top: -30px;
	}
	.navbar-footer {display:none;}
	.navbar-nav {
		background-color:rgba(243,233,210,1);
		margin-top:0px;
	}
	.navbar-nav > li {
			border-bottom:1px solid #55432A;
	}
	.topline {display:none;}
	
	
	.heading {padding-top:80px;}
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 20px;
	}
	#program form {background:none;}
	/* ===========================
		--- Intro
	============================ */
	#intro form {
		max-width:100%;
		padding-top:20px;
	}
	#intro form .title {
		font-size:21px;
	}
	#intro form .subtitle {
		font-size:20px;
	}
	#intro form .input {
		padding: 0 20px;
	}
	#intro h1 {font-size:22px;}
	#intro h2 {font-size:20px;}
	/* ===========================
		--- Result
	============================ */
	#result h1 {margin-top:20px;font-size:22px;}
	#result h2 {font-size:20px;}
	#result form {
		max-width:100%;
		padding-top:20px;
	}
	#result ul li {
		font-size:14px;
	}
	
	/* ===========================
		--- Component
	============================ */
	.mobile {padding-top:20px;}
	.mobile svg {
		margin: 0 auto;
		max-width: 100%;
		height: auto;
	}
	.workstation {
		visibility:hidden;
		display:none;
	}
	#component h1 {font-size:22px;}
	#component h2 {font-size:20px;}
	#component form {
		max-width:80%;
		padding-top:20px;
	}
	#component .form-wrapper {margin-top:-50px;}
	#component form .input {padding: 0 20px;}
	
	/* ===========================
	--- Program
	============================ */
	#program h1 {font-size:22px;}
	#program form .form-group ol {margin-top:20px;}
	#program form .form-group ol li {font-size:12px;margin-bottom: -10px;}
	#program form .form-group ol li:before{font-size:30px;}
	#program form .form-group ol li span {position: relative;top:-6px; left:10px;}
	#program form .form-group .slip {margin-left:20px;}
	#program .advert {font-size:16px;padding-top:20px;}
	#program .advert span{color:#ffc600;}
	#program form .input {margin-top:20px;padding: 0px 20px;}
	/* ===========================
	--- Testimonials
	============================ */
	#testimonial h1 {padding-bottom:20px;font-size:22px;}
	#testimonial .box-wht {
		padding-bottom: 10px;
		margin-bottom:10px;
	}

	#testimonial .box-wht .title {
		font-size:15px;
		margin-left: 120px;
		padding-top: 10px;
	}
	#testimonial .box-wht p {margin:10px;margin-left:120px;font-size:12px;}
	#testimonial .box-wht .pull-left {
		margin-top: 20px;
		margin-right: 10px;
	}
	#testimonial form .input {padding:0 20px;}
	#testimonial h2 {font-size:16px;}
	
	/* ===========================
	--- Contact
	============================ */
	#contact form{
		max-width:100%;
		padding-top:20px;
		
	}
	#contact form .input {
		padding: 0 20px;
	}
	
	#contact h1 {
		font-size:22px;
	}
	#contact h2 {
		font-size: 20px;
	}
	#contact .subtitle {
		font-size:18px;
	}
	.line {margin: 10px auto;}
	.map {width:458px;height:408px;margin-top:20px;}
	.carousel-control {position:fixed;top:30%;}
}
