@font-face {
	font-family: "Pragmatica";
  src: url("../fonts/pragmatica/Pragmatica_MediumC_Reg.otf");
  src: local('☺'), 
  url("../fonts/pragmatica/Pragmatica_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Pragmatica', arial;
	font-weight: 300;
    color: #666;
    background-color:#372202;
    
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    text-transform: uppercase;
    font-family: 'Pragmatica', arial;
    font-weight: 700;
    letter-spacing: 1px;
}
p {
    margin: 0px;
    font-size: 14px;
    line-height: 1.1em;
}
a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover, a:focus, a:link {
    text-decoration: none;
    color: #176e61;
}

/* LOADER */
#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}


#loaderInner {
    background:#ffffff url(../img/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;
}

@keyframes boxSpin{
  0%{
    transform: translate(-10px, 0px);
  }
  25%{
    transform: translate(10px, 10px);
  }
  50%{
    transform: translate(10px, -10px);
  }
  75%{
    transform: translate(-10px, -10px);
  }
  100%{
    transform: translate(-10px, 10px);
  }
}


@keyframes shadowSpin{
  0%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25%{
    box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50%{
    box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75%{
    box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

#load {
	z-index: 9999;
  background-color: #FF4136;
  opacity: 0.75;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin: -5px auto 0 auto;
  left: 0;
  right: 0;
  border-radius: 0px;
  border: 5px solid #FF4136;
  box-shadow: 10px 0px #39CCCC, 10px 0px #01FF70;
  animation: shadowSpin 1s ease-in-out infinite;
}
/* ################################################# */
/* NAV */
.navbar {
	border-bottom: 1px solid rgba(255,255,255,.3);	
    padding: 0px;
    letter-spacing: 1px;
    background-color:rgba(243,233,210,0.8);
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    height:93px;
}
.navbar .container {padding:0;max-width: 1000px;height:93px;}
.navbar .container .navbar-header .navbar-brand{padding:0;height:91px;margin-left:0px;}
.navbar .container .navbar-collapse {}
.navbar .container .topline{
	height: 2px;
	width: 85%;
	background: #55432A;
	//margin: 36px auto 0px;
	position:relative;
	top:50px;
}
.navbar .container .navbar-nav {
	margin:6px auto 0px;
}
.navbar-nav > li {
	padding:10px;
	cursor:pointer;
	color:#331f06;
	font-weight: normal;
	text-align:center;
	webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.navbar-nav > li .round-btn{
	border: 3px solid #000;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background:#ffe27c;
	margin: -27px auto 0px;
}
.navbar-nav > li .round-btn .inside-btn {
	width: 10px;
	height: 10px;
	background: none;
	margin: 0px auto;
	border-radius: 50%;
	margin-top: 2px;
}
.navbar-custom .nav li a:hover .round-btn .inside-btn,
.navbar-custom .nav li a:focus .round-btn .inside-btn,
.navbar-custom .nav li.active .round-btn .inside-btn{
    background: #000;
}
.navbar-custom .nav li.active {
	font-weight:bold;
}
.navbar .navbar-footer {
	float: right;
	text-align: right;
	font-size: 12px;
	padding-top: 22px;
}
.visited-btn{
	background-image:url('../images/galka.png');
	width:26px;
	height:26px;
	margin-top: -7px;
	margin-left: -5px;
	visibility:hidden;
	display:none;
}
.navbar-custom .nav li.visited .visited-btn {
	visibility: visible;
	display: block;
}
footer {
	min-height:100%;
	background-color: rgba(243, 233, 210, 0.8)!important;
}
/* END NAV */
/* ################################################# */
/* Content */
.fill {
    width: 100%;
    min-height: 632px;
    height: 100%;
    background-position: top center;
    background-size: cover;
}
.slide0 .fill {background-image:url('../images/girl.png');}
.slide1 .fill {background-image:url('../images/hohlomabg.png');}
.slide2 .fill {background-image:url('../images/hohlomabg.png');}
.slide3 .fill {background-image:url('../images/girl2.png');}
.slide4 .fill {background-image:url('../images/otzivi.png');}
.slide5 .fill {background-image:url('../images/girl3.png');}

section {max-width:1000px;margin:0 auto;text-align:center;}
section .heading {padding-top:120px;}
section .heading h2 {
	font-size: 30px;
	color: #FFC600;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	text-transform: none;
	font-weight: normal;
}
section .heading h4 {
	font-size: 30px;
	color: #FFF;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	text-transform: none;
	font-weight: normal;
	margin-top:20px;
}

.page-scroll {
	position:relative;
	top:22px;
	margin-top:-22px;
}

.page-scroll a.btn-circle {
		width: 40px;
		height: 40px;
		margin-top: 10px;
		padding: 0px;
		border: 2px solid #FFC600;
		border-radius: 50%;
		font-size: 20px;
		background: #FFC600;
		color:#FFF;
}
.page-scroll .btn-circle i {
	font-size:40px;
}
.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.btn-confirm{
	text-transform:none;
	font-size:19px;
	color:#010101;
	border: 1px solid #E19A29;
	width:100%;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbd36c+0,e19a29+100 */
	background: #fbd36c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZDM2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMTlhMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fbd36c 0%, #e19a29 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbd36c), color-stop(100%,#e19a29)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbd36c 0%,#e19a29 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbd36c 0%,#e19a29 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbd36c 0%,#e19a29 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbd36c 0%,#e19a29 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd36c', endColorstr='#e19a29',GradientType=0 ); /* IE6-8 */
}
.sprite{position: fixed;background-position: 50% 0%;background-size: 100%;background-repeat: no-repeat;z-index:1;}
.before,.after {float:left;}
.bef, .aft {position:relative;display:block;top: -40px;z-index: 100;width: 50%;}
.bef {color:#FFF;background:#000;margin-left: 50%;}
.aft {color:#000;background:#ffc600;}

/* ===========================
--- Intro
============================ */
#intro form {
	max-width:480px;
	border:8px solid #ffc600;
	border-radius:4px;
	margin:0 auto;
	background:rgba(51,31,6,0.8);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	padding-top:36px;
}
#intro form .title {
	color:#FFF;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	font-size:21px;
}
#intro form .subtitle {
	color:#ffc600;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	font-size:23px;
	text-transform:uppercase;
}
#intro form .input {
	padding: 0 90px;
}
/* ===========================
--- Result
============================ */
#result .formTitle {
	font-size: 19px;
	color:#FFF;
	position: relative;
	top:20px;
}
#result form {
	background:url('../images/border.png'); 
	background-repeat:no-repeat; 
	box-shadow: none;
	border:none;
	padding-bottom:20px;
	padding-top:20px;
	max-width: 590px;
	min-height: 250px;
	margin:0 auto;
}
#result ul {
    list-style-image: url('../images/symbol.png'); /* Путь к изображению маркера */
    padding: 20px;
}

#result ul li {
	margin-left:45px;
	color:#FFF;
	text-align: left;
	font-size:16px;
}
#result ul li span{
	position: relative;
	top: -10px;
}
#result form .input {
	padding: 0 135px;
	margin-top: -15px;
}
#block1,#block2,#block3,#block4,#block5,#block6{
	opacity:0;
}
#b1ttl,#b2ttl,#b3ttl,#b4ttl,#b5ttl,#b6ttl {
	opacity:0;
}
#b1txt,#b2txt,#b3txt,#b4txt,#b5txt,#b6txt {
	opacity:0;
}
#sur1,#sur2,#sur3,#sur4,#sur5,#sur6 {opacity:0}
#ll1,#ll2,#ll3,#ll4,#ll5,#ll6 {opacity:0;}
#ttt1,#ttt2,#ttt3,#ttt4,#ttt5,#ttt6 {opacity:0;}
#txtt1,#txtt2,#txtt3,#txtt4,#txtt5,#txtt6 {opacity:0;}
/* ===========================
--- Component
============================ */
#component form {
	background:#FFF;
	max-width:350px;
	border:8px solid #ffc600;
	border-radius:4px;
	margin:0 auto;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	padding-top:36px;
}
#component form .input {padding: 0 45px;}
#component #InputName, #component #InputPhone {background:#fff7e6!important;border:1px solid #ffe9c4;}
/* ===========================
--- Program
============================ */
#program {margin:0 auto;}
#program .formTitle {font-size:30px;width:100%;margin:0 auto;position:relative;top:22px;color:#ffc600;margin-top: -22px;}
#program .form {background:url('../images/border_long.png'); background-repeat:no-repeat; box-shadow: none;border:none;max-width:865px;margin:0 auto;}
#program form .form-group {}
#program form .form-group ol {list-style: none;counter-reset: point;padding-top:35px;}
#program form .form-group ol li {text-align: left;color:#FFF;font-size:16px;position:relative;margin-bottom: -10px;}
#program form .form-group ol li:before{content: counter(point); counter-increment: point 1; color:#ffc600;font-size:35px;}
#program form .form-group ol li span {position: relative;top:-6px; left:10px;}
#program form .form-group .slip {margin-left:20px;}
#program .advert {color:#FFF;font-size:20px;margin-top:40px;padding-top:20px;}
#program .advert span{color:#ffc600;}
#program form .input {margin-top:22px;padding: 0px 260px;}
.block1, .block2, .block3, .block4, .block5, .block6 {
	background:#FFF;
	border:4px solid #FFC600;
	border-radius:8px;
	padding:10px;
	width:175px;
	height:150px;
}
/* ===========================
--- Otzivi
============================ */

ul.list-style {color:#FFF;list-style:none;margin:0;padding: 0;margin-top:-22px;}
ul.list-style li {text-align:left;font-size:16px;}
#otziv p {font-size:13px;}
.o-wrap {padding-top:10px;margin:0 auto;}
.box-wht {
	background: #FFF; 
	padding-bottom: 40px;
	margin: 10px;
}

.box-wht .title {
	color:#000;
	font-size:15px;
	text-align: left;
	margin-left: 116px;
	padding-top: 10px;
}
.box-wht p {margin:10px;}
.box-wht .pull-left {
    margin-right:10px;
}
.form5 {margin: 0px auto;}
.form5 .form {background:url('../images/border_medium.png'); background-repeat:no-repeat; box-shadow: none; border:none;max-width:724px;margin:0 auto;}
.form5 .form .input {padding:0 195px;margin-top: -6px;}

.form5 h5 {width:100%; font-size:19px;color:#FFF;position: relative;top: 5px;text-transform: none;font-weight: normal;}
.form5 .btn-confirm {margin-top:27px;}
.form5 h5 span {color:#ffc600;}
/* */
/* ===========================
--- Contact
============================ */
#contact .form{
	max-width:480px;
	border:8px solid #ffc600;
	border-radius:4px;
	background:rgba(51,31,6,0.8);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	padding-top:36px;
	margin:0 auto;
}
#contact .form .input {
	padding: 0 90px;
}

#contact h2 {
	color: #FFC600;
	font-size: 28px;
	font-weight:normal;
	text-transform: none;
	margin:0;
}
#contact h5 {
	color: #FFF;
	font-size: 18px;
	font-weight:normal;
	text-transform: none;
	margin:0;
}
#contact .subtitle {
	font-size:18px;
	color:#FFF;
}
.line {width:50%;height:2px; background: #ffc600;margin: 10px auto;}
.map {width:458px;height:408px;}
a.carousel-control {color:#FFC600;}
a.carousel-control:hover,a.carousel-control:link,a.carousel-control:active {color:#FFC600;}
.carousel-control {
	position: fixed;
    top: 50%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    font-weight: 100;
    line-height: 28px;
    color:  #FFC600;
    text-align: center;
    background: none;
    border: 3px solid  #FFC600;
    border-radius: 50%;
    
}	
.carousel-control.left {
	left:5%;
	padding-right:2px;
}
.carousel-control.right {
	right:5%;
	padding-left: 2px;
}

@media(min-width:767px) {
		.navbar .container .navbar-collapse {
		margin-left:-60px;
	}
	.navbar .container .navbar-header .navbar-brand{width:80%;}
	.navbar .container .navbar-nav {
		margin: 42px auto 0px;
	}
	.navbar .container .topline {
		top:36px;
		left:32px;
	}
	#otziv .col-md-6 {
		width:100%;
	}
	.slide4 .fill {
		background:none;
	}
	.slide5 .fill {
		background:none;
	}
	.map {margin:0 auto;margin-top:20px;}
	.workstation {
		visibility: hidden;
		display:none;
	}
	.mobile {
		visibility: visible;
		display:block;
		position: relative;
		top:40px;
		left:0;
		width:100%;
		padding:0px;		
   	}
   	
   	.mobile svg {
	   	margin:0 auto;
	   	padding:0;
	   	width:100%;
	   	height:100%;
	   	
   	}
   	.navbar .navbar-footer {
	   	position: relative;
	   	//top: -66px;
	   	padding-top:19px;
	   	font-size:10px;
   	}
   	.navbar-nav > li {
	   	font-size:10px;
	   	padding: 10px 9px;
   	}
   	#program .form {background:none;}

}
@media(min-width:992px) {
	.slide0 .fill {background-image:url('../images/girl.png');}
.slide1 .fill {background-image:url('../images/hohlomabg.png');}
.slide2 .fill {background-image:url('../images/hohlomabg.png');}
.slide3 .fill {background-image:url('../images/girl2.png');}
.slide4 .fill {background-image:url('../images/otzivi.png');}
.slide5 .fill {background-image:url('../images/girl3.png');}
	.navbar .container .navbar-header .navbar-brand {width:100%;}
	.navbar .container .navbar-collapse {margin-left:0px;}
	.navbar-nav > li {font-size: 14px;padding: 10px;}
	.navbar .navbar-footer {font-size:12px;}
	#program .form {
    	background: transparent url("../images/border_long.png");
    }
	.container {max-width:1000px;}
	.navbar .container .topline {
		top:34px;
		left: 40px;
	}
	.navbar .container .navbar-nav {
		margin:40px auto 0px;
	}
	.container {
		max-width:1000px;
	}
	
	.mobile {
		visibility: hidden;
		display:none;
	}
	.workstation {
		visibility: visible;
		display:block;
	//	margin-top: -125px;
		width: 100%;
		height: 100%;
		padding-top: 0%;
		position: relative;
	}
	svg {
	   	position:absolute;
	   	top:-155px;;
	   	left:0;
   	}
	section {min-height:632px;max-height:632px;}
	#otziv .col-md-6 {width:47%!important;}
	.box-wht {padding-bottom:10px;}
	.map {margin-top:0px;}

}
@media(max-width:768px) {
		.container {max-width:100%;}
	.navbar-toggle{font-size:40px;}
	.navbar.topline {display:none;}
	section .heading h2 {font-size:22px;}
	section .heading h4 {font-size:18px;}
	#intro form .title {font-size:15px;}
	#intro form .subtitle {font-size:20px;}
	#result .form .input {padding:0 20px;}
	#otziv .form .input {padding:0 20px;}
	.mobile {margin-top:-30px;}
	#program .formTitle {font-size:24px;}
	#program .advert {font-size:16px;margin-top:20px;}
	#program form .input {padding: 0px 10px;}
	.slide0 .fill {background-image:none;}
	.slide1 .fill {background-image:none;}
	.slide2 .fill {background-image:none;}
	.slide3 .fill {background-image:none;}
	.slide4 .fill {background-image:none;}
	.slide5 .fill {background-image:none;}
	section .heading h2 {font-size:30px;}
	section .heading h4 {font-size:22px;}
	
	#intro form .input {padding: 0 20px;}
	#component .heading h2 {
	
		margin-bottom: 30px;
		
	}
	#result form {
		background:none; 
		max-width: 100%;
		min-height: 250px;
	}
	#component {min-height: 720px;}
	#program .form {background:none;}
	#program form .input {padding: 0 20px;}
	#otziv .form {background:none;}
	#contact .form .input {padding:0 20px;}
	.map {margin: 0 auto;margin-top:20px;}
	.workstation {
		visibility: hidden;
		display:none;
	}
	.mobile {
		visibility: visible;
		display:block;
		position: relative;
		top:40px;
		left:0;
		width:100%;
		padding:0px;		
   	}
   	
   	.mobile svg {
	   	margin:0 auto;
	   	padding:0;
	   	width:100%;
	   	height:100%;
	   	
   	}
  
   	.carousel-control {position:fixed;}
	
	.navbar .container .navbar-header .navbar-brand {padding-left: 20px;}
	.navbar .navbar-footer {display:none;}
	.navbar-toggle {
	    padding: 4px 6px;
		font-size: 50px;
		color: #FFC600;
	}
	.navbar .container .topline{
		display:none;
	}
	.navbar .container .navbar-collapse {
    	background: #FFF;
	}
	.navbar-nav > li {
		text-align:left;
		border-bottom:1px solid #55432A;
		padding-left: 50px;
	}
	.navbar-nav > li .round-btn {
		position: absolute;
		left: 10px;
		top: 38px;
	}
}
/* MEDIA QUERIES */

/* iphone 6 landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 
	.container {max-width:100%;}
	.navbar-toggle{font-size:40px;}
	.navbar.topline {display:none;}
	section .heading h2 {font-size:22px;}
	section .heading h4 {font-size:18px;}
	#intro form .title {font-size:15px;}
	#intro form .subtitle {font-size:20px;}
	#result .form .input {padding:0 20px;}
	#otziv .form .input {padding:0 20px;}
	.mobile {margin-top:-30px;}
	#program .formTitle {font-size:24px;}
	#program .advert {font-size:16px;margin-top:20px;}
	#program form .input {padding: 0px 10px;}
	.slide0 .fill {background-image:none;}
	.slide1 .fill {background-image:none;}
	.slide2 .fill {background-image:none;}
	.slide3 .fill {background-image:none;}
	.slide4 .fill {background-image:none;}
	.slide5 .fill {background-image:none;}
	section .heading h2 {font-size:30px;}
	section .heading h4 {font-size:22px;}
	
	#intro form .input {padding: 0 20px;}
	#component .heading h2 {
	
		margin-bottom: 30px;
		
	}
	#result form {
		background:none; 
		max-width: 100%;
		min-height: 250px;
	}
	#component {min-height: 720px;}
	#program .form {background:none;}
	#program form .input {padding: 0 20px;}
	#otziv .form {background:none;}
	#contact .form .input {padding:0 20px;}
	.map {margin: 0 auto;margin-top:20px;}
	.workstation {
		visibility: hidden;
		display:none;
	}
	.mobile {
		visibility: visible;
		display:block;
		position: relative;
		top:40px;
		left:0;
		width:100%;
		padding:0px;		
   	}
   	
   	.mobile svg {
	   	margin:0 auto;
	   	padding:0;
	   	width:100%;
	   	height:100%;
	   	
   	}
  
   	.carousel-control {position:fixed;}
  
	.navbar .container .navbar-header .navbar-brand {padding-left: 20px;}
	.navbar .navbar-footer {display:none;}
	.navbar-toggle {
	    padding: 4px 6px;
		font-size: 50px;
		color: #FFC600;
	}
	.navbar .container .topline{
		display:none;
	}
	.navbar .container .navbar-collapse {
    	background: #FFF;
	}
	.navbar-nav > li {
		text-align:left;
		border-bottom:1px solid #55432A;
		padding-left: 50px;
	}
	.navbar-nav > li .round-btn {
		position: absolute;
		left: 10px;
		top: 38px;
	}

}
/* ipad retina landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */
	.workstation {
		visibility: hidden;
		display:none;
	}
	.mobile {
		visibility: visible;
		display:block;
		position: relative;
		top:40px;
		left:0;
		width:100%;
		padding:0px;		
   	}
   	
   	.mobile svg {
	   	margin:0 auto;
	   	padding:0;
	   	width:100%;
	   	height:100%;
	   	
   	}
}
/* ipad retina portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	 .navbar .container .navbar-nav {margin-left:40px;;}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { 
	.navbar .container .navbar-nav {
		margin-top:40px;
	}
	.navbar .container .topline {
		top:35px;
		left:40px;
	}
	#otziv .col-md-6 {
		width:47%;
	}
	.mobile {
		visibility: hidden;
		display:none;
	}
	.workstation {
		visibility: visible;
		display:block;
	//	margin-top: -125px;
		width: 100%;
		height: 100%;
		padding-top: 0%;
		position: relative;
	}
	svg {
	   	position:absolute;
	   	top:-155px;;
	   	left:0;
   	}

}
/* ipad 2 portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) { 
	.container {max-width:100%;}
	.navbar-toggle{font-size:40px;}
	.navbar.topline {display:none;}
	section .heading h2 {font-size:22px;}
	section .heading h4 {font-size:18px;}
	#intro form .title {font-size:15px;}
	#intro form .subtitle {font-size:20px;}
	#result .form .input {padding:0 20px;}
	#otziv .form .input {padding:0 20px;}
	.mobile {margin-top:-30px;}
	#program .formTitle {font-size:24px;}
	#program .advert {font-size:16px;margin-top:20px;}
	#program form .input {padding: 0px 10px;}
	.slide0 .fill {background-image:none;}
	.slide1 .fill {background-image:none;}
	.slide2 .fill {background-image:none;}
	.slide3 .fill {background-image:none;}
	.slide4 .fill {background-image:none;}
	.slide5 .fill {background-image:none;}
	section .heading h2 {font-size:30px;}
	section .heading h4 {font-size:22px;}
	
	#intro form .input {padding: 0 20px;}
	#component .heading h2 {
	
		margin-bottom: 30px;
		
	}
	#result form {
		background:none; 
		max-width: 100%;
		min-height: 250px;
	}
	#component {min-height: 720px;}
	#program .form {background:none;}
	#program form .input {padding: 0 20px;}
	#otziv .form {background:none;}
	#contact .form .input {padding:0 20px;}
	.map {margin: 0 auto;margin-top:20px;}
	.workstation {
		visibility: hidden;
		display:none;
	}
	.mobile {
		visibility: visible;
		display:block;
		position: relative;
		top:40px;
		left:0;
		width:100%;
		padding:0px;		
   	}
   	
   	.mobile svg {
	   	margin:0 auto;
	   	padding:0;
	   	width:100%;
	   	height:100%;
	   	
   	}
  
   	.carousel-control {position:fixed;}
	.navbar {
		border-bottom: 1px solid rgba(255,255,255,.3);	
	    padding: 0px;
	    letter-spacing: 1px;
	    background-color:rgba(243,233,210,0.8);
	    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	    transition: background .5s ease-in-out,padding .5s ease-in-out;
	    height:93px;
	}
	.navbar .container {padding:0;max-width: 1000px;height:93px;border:1px solid #000;}
	.navbar .container .navbar-header .navbar-brand{padding:0;margin-left:0px;}
	.navbar .container .navbar-header .navbar-brand{width:80%;}
	.navbar .container .navbar-collapse {}
	.navbar .container .topline{
		height: 2px;
		width: 85%;
		background: #55432A;
		margin: 36px auto 0px;
		
	}
	.navbar .container .navbar-nav {
		margin:40px auto 0px;
		background:none;
		position:absolute;
		margin-left:0px;
	}
	.navbar-nav > li {
		font-size:10px;
		padding:10px;
		cursor:pointer;
		color:#331f06;
		font-weight: normal;
		text-align:center;
		webkit-transition: all .2s ease-in-out;
	    -moz-transition: all .2s ease-in-out;
	    transition: all .2s ease-in-out;
	    border:none;
	    
	}
	.navbar-nav > li .round-btn{
		border: 3px solid #000;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background:#ffe27c;
		margin: -47px auto 0px;
		margin-left:24%;
	}
	.navbar-nav > li .round-btn .inside-btn {
		width: 10px;
		height: 10px;
		background: none;
		margin: 0px auto;
		border-radius: 50%;
		margin-top: 2px;
	}
	.navbar-custom .nav li a:hover .round-btn .inside-btn,
	.navbar-custom .nav li a:focus .round-btn .inside-btn,
	.navbar-custom .nav li.active .round-btn .inside-btn{
	    background: #000;
	}
	.navbar-custom .nav li.active {
		font-weight:bold;
	}
	.navbar .navbar-footer {
		float: right;
		text-align: right;
		font-size: 10px;
		padding-top: 22px;
	}
	.visited-btn{
		background-image:url('../images/galka.png');
		width:26px;
		height:26px;
		margin-top: -7px;
		margin-left: -5px;
		visibility:hidden;
		display:none;
	}
	.navbar-custom .nav li.visited .visited-btn {
		visibility: visible;
		display: block;
	}

}
/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (orientation: portrait) {
	 body{background-color: #F00;}  
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px)  
  and (orientation: landscape) {
   body{background-color: #F00;}
}
/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (orientation: portrait) {
  body{background-color: #F00;}
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px)  
  and (orientation: landscape) {
   body{background-color: #F00;}
}
@media only screen 
    and (max-width : 420px) { 
		body{background-color: #F00;}
}
	